*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body{
    margin-left: 10%;
    margin-right: 10%;
}
.shadow{
    filter: brightness(80%);
}
/* header */

.site_header{
    margin-top: 10px;
    height: 150px;
    margin-bottom: 20px;
}
.logo{
    width: 200px;
    padding-right: 20px;
    border-right: 1px solid gray;
}
li{
    display: inline-block;
    color: gray;
    margin-right: 10px;
}
ul{
    margin-top: 20px;
}
/* main */

.banner{
    height: 700px;
    margin-bottom: 20px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}
.banner_title{
    width: 800px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    bottom: 300px;
    padding-left: 50px;
}
.b_text{
    width: 800px;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 250px;
    padding-left: 50px;
}
.text_titles{
    height: 100px;
}
.text_titles > h2{
    font-size: 30px;
    vertical-align: middle;
    line-height: 50px;
}
.text_titles > p{
    color: gray;
    font-size: 18px;
}
.text_area{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.marginR{
    margin-right: 2%;
}
.marginL{
    margin-left: 2%;
}
.side_col{
    float: left;
    height: 600px;
    width: 20%;
}
.centre_col{
    float: left;
    height: 600px;
    width: 54%;
}
.side_col > p{
    color: gray;
}
/* .side_col > .img1{
    background-image: url("../img/img-1.jpg");
    width: 100%;
    height: 300px;
    filter: brightness(80%);
} */
.centre_col > p{
    color: gray;
}
/* .banner2{
    background-image: url("../img/banner-2.jpg");
    height: 300px;
    filter: brightness(80%);
    width: 100%;
    background-position: center;  
} */
/* .img3{
    background-image: url("../img/img-3.jpg");
    width: 100%;
    height: 300px;
    filter: brightness(80%);
    background-size: cover;
} */
.img1{
    height: 250px;
    width: 100%;
    border-radius: 10px;
}
.banner_2{
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.img3{
    height: 250px;
    border-radius: 10px;
    object-fit: contain;
    object-position: center;
}
/* footer */

.site_footer{
    height: 100px;
    margin-bottom: 10px;
}

footer > p{
    text-align: center;
}

#cuore{
    color: red;
}